spring:
  application:
    name: ${artifactId}
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:db
    username: sa
    password:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
  h2:
    console:
      enabled: true
      path: /h2-console
server:
  servlet:
    session:
      timeout: 30m
security:
  urls:
    sign-in: /user/signin
    sign-out: /user/signout
    secured:
    defaultSuccessUrl: /